html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

@font-face {}
@font-face {}
h1, h2, h3, h4, h5, h6 { font-family: Arial; line-height: 1; }

h1, .c-h1 { font-size: 40px; }

h2, .c-h2 { font-size: 35px; }

h3, .c-h3 { font-size: 30px; }

h4, .c-h4 { font-size: 25px; }

h5, .c-h5 { font-size: 20px; }

h6, .c-h6 { font-size: 16px; }

.c-center { text-align: center; }

.c-left { text-align: left; }

.c-condense { font-size: 85%; }

.c-lead { font-size: 125%; }

a, .c-underline { text-decoration: underline; }

.c-no-decoration { text-decoration: none; }

.c-bold { font-weight: bold; }

.c-font-size-normal { font-size: 13px; }

.c-font-size-big { font-size: 17px; }

.c-font-size-large { font-size: 25px; }

@font-face {}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 100%; line-height: 1.5em; }

body { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #fff; color: #6f6f6f; font-family: Arial; font-size: 13px; line-height: 1.4; -webkit-text-size-adjust: 100%; }

a { color: #6f6f6f; }

img { max-width: 100%; max-height: 100%; }

b { font-weight: bold; }

@font-face {}
.content { margin: auto; }

.l-none { display: none; }

.l-block { display: block; }

.l-inline-block { display: inline-block; }

.l-pull-left { float: left; }

.l-pull-right { float: right; }

.l-clearfix:before, .l-clearfix:after { content: ''; display: table; }
.l-clearfix:after { clear: both; }

.l-clear-both { clear: both; }

.l-v-align-mid { vertical-align: middle; }

.l-v-align-bottom { vertical-align: bottom; }

.l-overflow-hidden { overflow: hidden; }

.l-no-border { border: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

.l-relative { position: relative; }

.ico-sprite, .ico-contact, .ico-download, .ico-help, .ico-man, .ico-monitoring, .ico-news, .ico-support, .ico-sutup, .ico-zoom, .ico-sprite-27, .ico-sprite-20 { background-image: url('../images/ico-s1eeeaca484.png'); background-repeat: no-repeat; }

.ico-contact { background-position: 0 -195px; }

.ico-download { background-position: 0 -20px; }

.ico-help { background-position: 0 -87px; }

.ico-man { background-position: 0 -40px; }

.ico-monitoring { background-position: 0 -60px; }

.ico-news { background-position: 0 -114px; }

.ico-support { background-position: 0 -141px; }

.ico-sutup { background-position: 0 -168px; }

.ico-zoom { background-position: 0 0; }

.ico-sprite-27 { display: inline-block; width: 27px; height: 27px; }

.ico-sprite-20 { display: inline-block; width: 20px; height: 20px; }

.header-container { height: 134px; background-color: #ffffff; }

.main-logo { float: left; width: 225px; margin: 25px 0 0 0; }
.main-logo .main-logo-link { display: block; height: 70px; background-image: url("../images/main-logo.png"); }

.header-content { float: right; margin: 30px 0 0 0; text-align: right; }

.header-search-form { overflow: hidden; *zoom: 1; padding: 10px 0 5px 0px; }

.header-search-button { float: left; width: 29px; height: 29px; background-color: #b8b8b8; border: none; }

.header-search-input { float: left; width: 210px; height: 29px; border: solid #b8b8b8 1px; }

.footer-container { background-color: #454545; text-align: center; color: #b8b8b8; }

html, body { height: 100%; }

.wrapper-container { clear: both; min-height: 100%; height: auto !important; height: 100%; margin-bottom: -90px; }
.wrapper-container .layout_footer { height: 90px; }

.footer-container { clear: both; position: relative; height: 90px; }

.wrapper-container { background-color: #eeeeee; }

.wrapper-block { overflow: hidden; *zoom: 1; padding: 30px 0 0 0; }

.main-menu-container { -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; border-top-right-radius: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px; position: relative; float: left; width: 280px; margin-bottom: 50px; padding: 18px 0 18px 0; background-color: #b8b8b8; }

.main-menu { margin: 0 46px 60px 36px; }
.main-menu .main-menu-item div { -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; float: left; width: 46px; height: 46px; padding-top: 8px; background-color: #fac52a; text-align: center; }
.main-menu .main-menu-item a { display: block; margin: 0 0 0 56px; padding: 19px 0 15px 0; border-bottom: solid #ffffff 1px; color: #fff; font-weight: 17px; text-transform: uppercase; text-decoration: none; }
.main-menu .main-menu-item a:hover { color: #2952a1; }
.main-menu .main-menu-item a.active { color: #2952a1 !important; }

.user-list { margin: 0 0 60px 36px; }
.user-list .user-list-item { padding: 0 0 10px 0; color: #ffffff; }
.user-list .user-list-item span { float: left; margin: -3px 10px 0 0; }

.main-menu-clicker { -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; border-top-left-radius: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px; position: absolute; width: 27px; height: 133px; top: 50%; right: 0; margin: -80px 0 0 0; background-color: #ffffff; }

.main-content-container { margin: 0 0 0 300px; }
