// *************************************
// Header component
// *************************************


.header-container {
  height: 134px;
  background-color: $white-color;
}

.main-logo {
  float: left;
  width: 225px;
  margin: 30px 0 0 10%;
  .main-logo-link {
    display: block;
    height: 70px;
    background-image: url('../images/main-logo.png');
    background-size: 100%;
  }
}

.header-content {
  float: right;
  margin: 30px 10% 0 0;
  text-align: right;
}

.header-search-form {
  @include clearfix();
  padding: 10px 0 5px 0px;
}

.header-search-button {
  float: left;
  width: 29px;
  height: 29px;
  background-color: $gray-normal;
  border: none;
}

.header-search-input {
  float: left;
  width: 210px;
  height: 29px;
  border: solid $gray-normal 1px;
}

// Mobile
// -------------
@include add-breakpoint($break-mobile-small) {
  .header-container  {
    height: 65px;
  }
  .main-logo {
    float: none;
    width: 113px;
    margin: 0 auto;
    padding-top: 15px;
    .main-logo-link {
      height: 35px;
      background-image: url('../images/main-logo.png');
    }
  }
  .header-content {
    display: none;
  }
}

// Mobile
// -------------
@include add-breakpoint($break-mobile-and-tablet) {
  .header-container  {
    height: 92px;
  }
  .main-logo {
    float: none;
    width: 200px;
    margin: 0 auto;
    padding-top: 20px;
    .main-logo-link {
      height: 60px;
      background-image: url('../images/main-logo.png');
    }
  }
  .header-content {
    display: none;
  }
}
